description = "Resource list partial"
==
<div id="resourceList">
	{% if not searched %}
	All resources by romanization: 
	<ul class="pagination pagination-sm">
	{% for p in pagination %}
		{% if p.active %}
			<li class="page-item active">
		{% else %}
			{% if p.has %}
			<li class="page-item">
			{% else %}
			<li class="page-item disabled">
			{% endif %}
		{% endif %}
						
		{% if p.has %}
			<a class="page-link" href="/?r={{ p.letter }}">
		{% else %}
			<a class="page-link" href="#" tabindex="-1">
		{% endif %}
						
		{{ p.letter }}
						
		{% if not p.has %}
			</a>
		{% else %}
			</a>
		{% endif %}
						
		{% if p.active %}
			</li>
		{% else %}
			{% if p.has %}
			</li>
			{% else %}
			</li>
			{% endif %}
		{% endif %}
	{% endfor %}
	</ul>
	{% endif %}
	{% if searched %}
	<h5><b>Search Results</b></h5>
	{% else %}
	<h5><b>Resources starting with "{{ alpha }}"</b> <span class="small">(Romanized)</span></h5>
	{% endif %}
	{% if pageCount %}
	Skip to page:
	<ul class="pagination pagination-sm">
	{% for p in range(1, pageCount) %}
		{% if p == offset %}
			<li class="page-item active">
		{% else %}
			<li class="page-item">
		{% endif %}
				<a class="page-link" href="/?r={{ alpha }}&page={{ p }}">{{ p }}</a>
		{% if p == offset %}
			</li>
		{% else %}
			</li>
		{% endif %}		
	{% endfor %}
	</ul>
	{% endif %}
	{% if searched %}
	<b>{{ resourceCount }}</b> record{% if resourceCount != 1 %}s{% endif %} found
	{% endif %}
	{% if resources|length %}
	{% for resource in resources %}
		<div class="card" style="width: 100%; margin: 20px 0 20px 0">
			<div class="card-body">
				<div class="row">
					<div class="col-6" style="border-right: 1px black solid;"><h4 class="card-title"><a href="{{ url('/resource/') }}/{{ resource.id }}">{{ resource.name_japanese }}</a></h4></div>
					<div class="col-6"><h4 class="card-title"><a href="{{ url('/resource/') }}/{{ resource.id }}">{{ resource.name_romanization }}</a></h4></div>
				</div>
				<h4 class="card-title">
				<h6 class="card-subtitle mb-2 text-muted">{{ resource.name_english }}</h6>
				{% for category in resource.categories %}
				<span class="badge badge-primary">{{ category.name_english }}</span>
				{% endfor %}
				<p>
					<a href="{{ resource.link }}" class="card-link" target="_blank">{{ resource.link }}</a> {% if resource.broken %}<a data-trigger="focus" tabindex="0" class="broken badge badge-danger" data-toggle="popover" title="Possibly broken link!" data-content="We've detected that this link may no longer be directing you to a live resource.">!</a>{% endif %}
				</p>
				<p class="card-text">
					{% if resource.description is not empty or resource.description_japanese is not empty %}
					<div class="row">
						{% if resource.description is empty %}
						<div class="col-12">{{ resource.description_japanese_blurb|raw }}<p><a href="{{ url('/resource/') }}/{{ resource.id }}">...</a></p></div>
						{% elseif resource.description_japanese is empty %}
						<div class="col-12">{{ resource.description_blurb|raw }}<p><a href="{{ url('/resource/') }}/{{ resource.id }}">...</a></p></div>
						{% else %}
						<div class="col-6" style="border-right: 1px black solid;">{{ resource.description_japanese_blurb|raw }}<p><a href="{{ url('/resource/') }}/{{ resource.id }}">...</a></p></div>
						<div class="col-6">{{ resource.description_blurb|raw }}<p><a href="{{ url('/resource/') }}/{{ resource.id }}">...</a></p></div>
						{% endif %}
					</div>
					{% endif %}
				</p>
			</div>
		</div>
	{% endfor %}
	{% if pageCount %}
	Skip to page:
	<ul class="pagination pagination-sm">
	{% for p in range(1, pageCount) %}
		{% if p == offset %}
			<li class="page-item active">
		{% else %}
			<li class="page-item">
		{% endif %}
				<a class="page-link" href="/?r={{ alpha }}&page={{ p }}">{{ p }}</a>
		{% if p == offset %}
			</li>
		{% else %}
			</li>
		{% endif %}		
	{% endfor %}
	</ul>
	{% endif %}
	{% else %}
	<h2 class="text-center">No resources found!</h2>
	{% endif %}
</div>