description = "Resource list partial"
==
<div id="resourceList">
		All resources by romanization: 
		<ul class="pagination">
		{% for p in pagination %}
			{% if p.active %}
				<li class="active">
			{% else %}
				<li>
			{% endif %}
						
			{% if p.has %}
				<a href="/?page={{ p.letter }}">
			{% else %}
				<b>
			{% endif %}
						
			{{ p.letter }}
						
			{% if not p.has %}
				</b>
			{% else %}
				</a>
			{% endif %}
						
			{% if p.active %}
				</li>
			{% else %}
				</li>
			{% endif %}
		{% endfor %}
		</ul>

	{% if resources|length %}
	{% for resource in resources %}
		<div class="card" style="width: 100%; margin: 20px 0 20px 0">
			<div class="card-body">
				<h3 class="card-title"><a href="{{ url('/resource/') }}/{{ resource.id }}">{{ resource.name_japanese }} | {{ resource.name_romanization }}</a></h3>
				<h5 class="card-subtitle mb-2 text-muted">{{ resource.name_english }}</h5>
				{% for category in resource.categories %}
				<span class="badge badge-primary">{{ category.name_english }}</span>
				{% endfor %}
				<p>
					<a href="#" class="card-link">{{ resource.link }}</a> {% if resource.broken %}<a data-trigger="focus" tabindex="0" class="broken badge badge-danger" data-toggle="popover" title="Possibly broken link!" data-content="We've detected that this link may no longer be directing you to a live resource.">!</a>{% endif %}
				</p>
				<p class="card-text">
					<div class="row">
						<div class="col-6" style="border-right: 1px black solid;">{{ resource.description|striptags|length > 200 ? resource.description|striptags|slice(0, 200) ~ '...' : resource.description|striptags }}</div>
						<div class="col-6">{{ resource.description_japanese|striptags|length > 100 ? resource.description_japanese|striptags|slice(0, 100) ~ '...' : resource.description_japanese|striptags }}</div>
					</div>
				</p>
				<p class="card-text"><b>Keywords:</b> {{ resource.keywords }}</p>
			</div>
		</div>
	{% endfor %}
	{% else %}
	<h2 class="text-center">No resources found!</h2>
	{% endif %}
</div>